body{
    background-color: lightgray;
}
body p{
    line-height: 25px;
}

.main-header{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    background-color: #0507ac;
    height: 70px;
    line-height: 70px;
}

.main-header h1{
    margin-left:3%;
    color:white;
}

.title-box{
    margin-left:2%;
    width: 35%;
    cursor:pointer;
}

.title-button-wrapper{
    display:flex;
    flex-direction: row;
    width:100%;
}


.title-button-left{
    display:flex;
    flex-direction: row;
    margin-left:5%;
    margin-top: 2%;
    width:50%;
}


.title-button-right{
    display: flex;
    flex-direction: row;
    width:50%;
    justify-content: end;
    margin-right:5%;
    margin-top: 2%;
}

.project-button{
    background-color: #0507ac;
    color:white;
    padding-left:10px;
    padding-right:10px;
    box-shadow: 5px 10px #888888;
    cursor:pointer;
    margin-right:2%;
    width:40%;
    text-align: center;
}

.title-button{
    width:20%;
}

.project-button a{
    color:white;
    text-decoration: none;
}

.refit-content{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    margin-top:3%;
}

ul{
    padding-top:2%;
    padding-bottom:2%;
}
li{
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wearing-click{
    display: inline-block;
}

.modified-click{
    display: inline-block;
}

.table-content-click{
    display: inline-block;
    cursor:pointer;
}

.inside-pull-down-content{
    display:none;
    margin-right:5%;
    margin-left:5%;
}

.inside-pull-down-content p{
    white-space: pre-wrap;
}

.inside-pull-down-title{
    display: inline-block;
    cursor:pointer;
}

.adv-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color:white;
    box-shadow: 5px 10px #888888;
    border-style: solid;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
}

.intro{
    margin: 5%;
}

.intro-footer{
    text-align:end;
}

.wearing-part-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-color:white;
    display: none;
    box-shadow: 5px 10px #888888;
    border-style: solid;
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
}


.wearing-part-wrapper{
    margin-top: 5%;
}

.modified-part-wrapper{
    margin-top: 5%;
}

.projects-wrapper{
    margin: 5%;
}



.modified-part-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-color:white;
    display: none;
    box-shadow: 5px 10px #888888;
    border-style: solid;
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
}

.projects-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-color:white;
    box-shadow: 5px 10px #888888;
    border-style: solid;
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    display:none;
}

.talbe-wrapper{
    margin-top: 5%;
    margin-left: 5%;
}

/* .table-content{
    display:none;
} */

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color:white;
}

th, td{
    padding: 10px 20px;
    border: 1px solid #000;
    text-align: center;
    width:50%;
}

.table-content{
    background-color: DodgerBlue;
    padding:5%;
    margin:5%;
    box-shadow: 5px 10px #888888
}

.table-choice{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.table-click{
    cursor: pointer;
    width:25%;
    background-color: rgb(180,180,180);
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.table-click h3{
    margin-bottom:5px;
    padding-bottom:0;
}

.table-click h5{
    margin-top:0;
    padding-top:0;
    font-size:10px;
}

.table1-click{
    margin-right: 10%;
    background-color:white;
    box-shadow: 5px 10px #888888;
}

.table3-click{
    margin-left:10%;
}

.table2{
    display: none;
}

.project-1{
    margin-left: 3%;
    margin-right: 3%; 
    
}

.projects-subtitle{
    font-weight: 500;
    font-size: 20px;
}

.project1-list1{
    /* line-height:30px; */
}

.project1-list1 li{
    font-size:16px;
}

.project1-list2 li{
    font-size:16px;
}

.project1-stage1{
    margin-left:3%;
    margin-right:3%;
}

.project1-stage2{
    margin-left:3%;
    margin-right:3%;
}

.project1-list3 li{
    font-size:16px;
}

